
# Created by https://www.gitignore.io/api/linux,wordpress

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### WordPress ###
src/*.log
src/wp-config.php
src/wp-content/advanced-cache.php
src/wp-content/backup-db/
src/wp-content/backups/
src/wp-content/blogs.dir/
src/wp-content/cache/
src/wp-content/upgrade/
src/wp-content/uploads/
src/wp-content/wp-cache-config.php
src/wp-content/plugins/hello.php

src/.htaccess
src/license.txt
src/readme.html
src/sitemap.xml
src/sitemap.xml.gz



# End of https://www.gitignore.io/api/linux,wordpress